

<div class="panel">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Key</th>
					<th>VALUE</th>
				</tr>
			</thead>
			<tbody>
				#set($SSD = [])
				#if($complexhlr_getHLRSubscriberData_supplementaryServiceData_size > 0)
				#set($SSD = [0..$complexhlr_getHLRSubscriberData_supplementaryServiceData_size])
				#end
				#foreach($i in $SSD)
				<tr>
					#set($prefix="$complexhlr_getHLRSubscriberData_supplementaryServiceData$i")
					<td>#evaluate("_key")</td>
					<td>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Time</th>
										<th>Status</th>
										<th>SS</th>
										<th>fnumSadd</th>
									</tr>
								</thead>
								<tbody>
									#set($SSDV = [])
									#set($nameSize = "$complexhlr_getHLRSubscriberData_supplementaryServiceData$i_value_size")
									#set($valueSize = "$nameSize")
									#if($valueSize > 0)
									#set($SSDV = [0..$valueSize])
									#end
									#foreach($j in $SSDV)
									<tr>
										<td>evaluate("$complexhlr_getHLRSubscriberData_supplementaryServiceData$j_key")</td>
										<td>
											
										</td>
									</tr>
									#end
								</tbody>
							</table>
						</div>
					</td>
					complexhlr_getHLRSubscriberData_supplementaryServiceData0_value6_time\",\"label\":\"complexhlr_getHLRSubscriberData_supplementaryServiceData0_value6_time\",\"value\":\"null\",\"props\":null,\"transaction\":null,\"workflow_step\":null,\"interface\":null},"
					complexhlr_getHLRSubscriberData_supplementaryServiceData0_value6_status\",\"label\":\"complexhlr_getHLRSubscriberData_supplementaryServiceData0_value6_status\",\"value\":\"NOT ACTIVE\",\"props\":null,\"transaction\":null,\"workflow_step\":null,\"interface\":null},"
					complexhlr_getHLRSubscriberData_supplementaryServiceData0_value6_ss\",\"label\":\"complexhlr_getHLRSubscriberData_supplementaryServiceData0_value6_ss\",\"value\":\"CFB\",\"props\":null,\"transaction\":null,\"workflow_step\":null,\"interface\":null},"
					complexhlr_getHLRSubscriberData_supplementaryServiceData0_value6_fnumSadd\",\"label\":\"complexhlr_getHLRSubscriberData_supplementaryServiceData0_value6_fnumSadd\",\"value\":\"18295505821\",\"props\":null,\"transaction\":null,\"workflow_step\":null,\"interface\":null},"
				</tr>
				#end
			</tbody>
		</table>
	</div>
</div>
{{table=
			complexhlr_getHLRSubscriberData_permanentSubscriberData{#}_name||
			complexhlr_getHLRSubscriberData_permanentSubscriberData{#}_value||
			complexhlr_getHLRSubscriberData_supplementaryServiceData_size
}}

{{table=
			complexhlr_getHLRSubscriberData_supplementaryServiceData{#}_key||
			complexhlr_getHLRSubscriberData_supplementaryServiceData{#}_value_size}}
