#set($_Integer = 0)
#macro(tableTemplate $columns $prefix)
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				#foreach($column in $columns)
				<th>$column.label</th>
				#end
			</tr>
		</thead>
		<tbody>
			#set($sizeName='$' + $prefix + '_size')
			#set($strCount="#evaluate($sizeName)")
			#set($count = $_Integer.parseInt($strCount))
			#if($count > 0)
			#set($count = $count - 1)
			#foreach($i in [0..$count])
			<tr>
				#foreach($column in $columns)
				#if (!$column.children || $column.children.size() == 0)
				#set($name = '$' + $prefix + "$i" + '_' + "$column.name")
				<td>#evaluate($name)</td>
				#else
				<td>
					#set($newPrefix = $prefix + "$i" + '_' + "$column.name")
					#tableTemplate($column.children $newPrefix)
				</td>
				#end
				#end
			</tr>
			#end
			#end
		</tbody>
	</table>
</div>
#end

#set($columns=[{"name": "apnId", "label": "ID", "children": []},{"name": "eqosid", "label": "ECHO", "children": []},{"name": "pdpid", "label": "PDP", "children": []},{"name": "pdpch", "label": "TIE", "children": []},{"name": "pdpty", "label": "PDPTY", "children": []},{"name": "vpaa", "label": "VPA", "children": []}])
#set($prefix = "complexhlr_getHLRSubscriberData_pdpContextData")
<div class="panel">
	#tableTemplate($columns $prefix)
</div>

#set($columns=[{"name": "name", "label": "NAME", "children": []},{"name": "value", "label": "VALUE", "children": []}])
#set($prefix = "complexhlr_getHLRSubscriberData_permanentSubscriberData")
<div class="panel">
	#tableTemplate($columns $prefix)
</div>

#set($columns=[{"name": "key", "label": "KEY", "children": []},{"name": "value", "label": "VALUE", "children": [{"name": "time", "label": "Time", "children": []},{"name": "status", "label": "Status", "children": []},{"name": "ss", "label": "SS", "children": []},{"name": "fnumSadd", "label": "fnumSadd", "children": []}]}])
#set($prefix = "complexhlr_getHLRSubscriberData_supplementaryServiceData")
<div class="panel">
	#tableTemplate($columns $prefix)
</div>