
<div class="panel">
	<div class="table-responsive">
		<table class="table">
			<thead><tr><th>ID</th><th>ECHO</th><th>PDP</th><th>TIE</th><th>PDPTY</th><th>VPA</th></tr></thead>
			<tbody>
				<tr>
					<td>25</td>
					<td>400</td>
					<td>1</td>
					<td>null</td>
					<td>IPV4</td>
					<td>NO</td>
				</tr>
				<tr>
					<td>26</td>
					<td>400</td>
					<td>2</td>
					<td>null</td>
					<td>IPV4</td>
					<td>NO</td>
				</tr>
				<tr>
					<td>28</td>
					<td>400</td>
					<td>4</td>
					<td>null</td>
					<td>IPV4</td>
					<td>NO</td>
				</tr>
				<tr>
					<td>37</td>
					<td>400</td>
					<td>6</td>
					<td>null</td>
					<td>IPV4</td>
					<td>YES</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="panel">
	<div class="table-responsive">
		<table class="table">
			<thead><tr><th>NAME</th><th>VALUE</th></tr></thead>
			<tbody>
				<tr>
					<td>CAT</td>
					<td>10</td>
				</tr>
				<tr>
					<td>DBSG</td>
					<td>1</td>
				</tr>
				<tr>
					<td>TSMO</td>
					<td>0</td>
				</tr>
				<tr>
					<td>STYPE</td>
					<td>1</td>
				</tr>
				<tr>
					<td>OBR</td>
					<td>1</td>
				</tr>
				<tr>
					<td>TS11</td>
					<td>1</td>
				</tr>
				<tr>
					<td>TS21</td>
					<td>1</td>
				</tr>
				<tr>
					<td>TS22</td>
					<td>1</td>
				</tr>
				<tr>
					<td>BS2G</td>
					<td>1</td>
				</tr>
				<tr>
					<td>BS3G</td>
					<td>1</td>
				</tr>
				<tr>
					<td>RSA</td>
					<td>3</td>
				</tr>
				<tr>
					<td>CSP</td>
					<td>39</td>
				</tr>
				<tr>
					<td>REDMCH</td>
					<td>2</td>
				</tr>
				<tr>
					<td>OCSIST</td>
					<td>1</td>
				</tr>
				<tr>
					<td>TCSIST</td>
					<td>1</td>
				</tr>
				<tr>
					<td>OFA</td>
					<td>1</td>
				</tr>
				<tr>
					<td>PWD</td>
					<td>0000</td>
				</tr>
				<tr>
					<td>CFU</td>
					<td>1</td>
				</tr>
				<tr>
					<td>CFB</td>
					<td>1</td>
				</tr>
				<tr>
					<td>CFNRY</td>
					<td>1</td>
				</tr>
				<tr>
					<td>CFNRC</td>
					<td>1</td>
				</tr>
				<tr>
					<td>BAOC</td>
					<td>1</td>
				</tr>
				<tr>
					<td>BOIC</td>
					<td>1</td>
				</tr>
				<tr>
					<td>BOIEXH</td>
					<td>1</td>
				</tr>
				<tr>
					<td>BAIC</td>
					<td>1</td>
				</tr>
				<tr>
					<td>CAW</td>
					<td>1</td>
				</tr>
				<tr>
					<td>SOCFB</td>
					<td>0</td>
				</tr>
				<tr>
					<td>SOCFRY</td>
					<td>0</td>
				</tr>
				<tr>
					<td>SOCFRC</td>
					<td>0</td>
				</tr>
				<tr>
					<td>SOCFU</td>
					<td>0</td>
				</tr>
				<tr>
					<td>SOCB</td>
					<td>1</td>
				</tr>
				<tr>
					<td>SOCLIP</td>
					<td>0</td>
				</tr>
				<tr>
					<td>HOLD</td>
					<td>1</td>
				</tr>
				<tr>
					<td>MPTY</td>
					<td>1</td>
				</tr>
				<tr>
					<td>CLIP</td>
					<td>1</td>
				</tr>
				<tr>
					<td>SCHAR</td>
					<td>6</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="panel">
	<div class="table-responsive">
		<table class="table">
			<thead><tr><th>KEY</th><th>VALUE</th></tr></thead>
			<tbody>
				<tr>
					<td>BSG-TS10</td>
					<td>
						<div class="table-responsive">
							<table class="table">
								<thead><tr><th>Time</th><th>Status</th><th>SS</th><th>fnumSadd</th></tr></thead>
								<tbody>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BAIC</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BAOC</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BOIC</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BOIEXH</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>ACTIVE-OP</td>
										<td>CAW</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>CFU</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>CFB</td>
										<td>18295505821</td>
									</tr>
									<tr>
										<td>30</td>
										<td>ACTIVE-OP</td>
										<td>CFNRY</td>
										<td>18295505821</td>
									</tr>
									<tr>
										<td>null</td>
										<td>ACTIVE-OP</td>
										<td>CFNRC</td>
										<td>18295505821</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td>BSG-TS20</td>
					<td>
						<div class="table-responsive">
							<table class="table">
								<thead><tr><th>Time</th><th>Status</th><th>SS</th><th>fnumSadd</th></tr></thead>
								<tbody>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BAIC</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BAOC</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BOIC</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BOIEXH</td>
										<td>null</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td>BSG-BS20</td>
					<td>
						<div class="table-responsive">
							<table class="table">
								<thead><tr><th>Time</th><th>Status</th><th>SS</th><th>fnumSadd</th></tr></thead>
								<tbody>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BAIC</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BAOC</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BOIC</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BOIEXH</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>ACTIVE-OP</td>
										<td>CAW</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>CFU</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>CFB</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>CFNRY</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>CFNRC</td>
										<td>null</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td>BSG-BS30</td>
					<td>
						<div class="table-responsive">
							<table class="table">
								<thead><tr><th>Time</th><th>Status</th><th>SS</th><th>fnumSadd</th></tr></thead>
								<tbody>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BAIC</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BAOC</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BOIC</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>BOIEXH</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>ACTIVE-OP</td>
										<td>CAW</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>CFU</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>CFB</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>CFNRY</td>
										<td>null</td>
									</tr>
									<tr>
										<td>null</td>
										<td>NOT ACTIVE</td>
										<td>CFNRC</td>
										<td>null</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>