#set($Integer = 0)
#macro(tableTemplate $columns $prefix)
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				#foreach($column in $columns)
				<th>$column.label</th>
				#end 
			</tr>
		</thead>
		<tbody>
			#set($sizeName='$' + $prefix + '_size')
			#set($sizeValue="#evaluate($sizeName)")
			#set($count = $Integer.parseInt($sizeValue))
			#if($count > 0)
			#set($count = $count - 1)
			#foreach($i in [0..$count])
			<tr>
				#foreach($column in $columns)
				#set($name = '$'+"$prefix"+"$i"+'_'+"$column.name")
				<td>#evaluate($name)</td>
				#end
			</tr>
			#end
			#end
		</tbody>
	</table>
</div>
#end
#macro(tableParentTemplate $columns $prefix)

#set($columns=[{"name": "apnId", "label": "ID", "columns": []},{"name": "eqosid", "label": "ECHO", "columns": []},{"name": "pdpid", "label": "PDP", "columns": []},{"name": "pdpch", "label": "TIE", "columns": []},{"name": "pdpty", "label": "PDPTY", "columns": []},{"name": "vpaa", "label": "VPA", "columns": []}])
#set($prefix = "complexhlr_getHLRSubscriberData_pdpContextData")
<div class="panel">
	#tableTemplate($columns $prefix)
</div>